body {
    background-color: #79b9ea;
    font-family: Arial;
    text-align: center;
    padding-top: 100px;
}

h1 {
    color: #e2ccdd;
}

input {
    padding: 10px;
    width: 250px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

h2 {
    margin-top: 20px;
    color: green;
}